@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --black: #030507ff;
    --coffee-bean: #180E07ff;
    --camel: #C5985Eff;
    --deep-walnut: #513926ff;
    --sunlit-clay: #D7A767ff;

    --primary-100: #D7A767ff;
    --primary-200: #C5985Eff;
    --primary-300: #B8885Bff;
    --primary-400: #AA7854ff;
    --primary-500: #9C6847ff;
    --primary-600: #8E583Dff;
    --primary-700: #7A5428ff;
    --primary-800: #513926ff;
    --primary-900: #180E07ff;

    --secondary-700: #C5985Eff;
    --secondary-800: #B8885Bff;
    --secondary-900: #7A5428ff;

    --tertiary-100: #25D366;
    --tertiary-200: #20bd5a;
    --tertiary-700: #8a63ff;

    --button-color: #D7A767ff;

    --back-dark: #030507ff;
    --text-dark: #fff;
    --text-light: #000;
    --text-secondary: #a1a1a1;
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    font-family: "Inter", sans-serif;
    color: var(--text-dark);
    background: var(--back-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk" , sans-serif;
}

span {
    background-image: linear-gradient(to right, var(--secondary-700), var(--primary-100));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    padding-top: 20.5vh;
    margin-bottom: 3px;
}

html {
    scroll-behavior: smooth;
}